@import 'global';

.top-bg-fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 1254px;
    background: $dark-gray;
    z-index: -100;
}

.top-container {
    width: 100vw;
    max-width: 100%;
    padding: 0px 50px;
}

.header-menu {
    height: 71px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-item {
        @include font-base($font-family-rubik, normal, 500);
        color: $blue-default;
        font-size: 16px;
        text-decoration: none;
    }
}

.main-container {
    width: 100vw;
    max-width: 100%;
    display: flex;

    &__side {
        width: 338px;
    }

    &__content {
        flex: 1;
    }
}

.sidenavbar-container {
    width: 100%;

    .sidenavbar-logo {
        width: 239px;
    }

    &-nav {
        width: 100%;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 21px;

        &-link {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 8px 17px;
            border-radius: 4.77273px;
            height: 35px;
            background: $white;
            @include font-base($font-family-rubik, normal, 500);
            font-size: 19px;
            color: $black;
            margin-bottom: 5px;
            text-decoration: none;

            &.active {
                background: $blue-button-bg;
                color: $white
            }
        }
    }
}