@import 'global';

.top-bg-fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 1254px;
    background: $dark-gray;
    z-index: -100;
}

.top-container {
    width: 100vw;
    max-width: 100%;
}

.header-menu {
    height: 71px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;

    &-item {
        @include font-base($font-family-rubik, normal, 500);
        color: $blue-default;
        font-size: 16px;
        text-decoration: none;
    }
}

.main-container {
    width: 100vw;
    max-width: 100%;
    display: flex;
    padding: 0px 50px;

    @include respond-to(mobile) {
        padding: 0px 17px;
    }

    &__side {
        width: 338px;

        @include respond-to(mobile) {
            display: none;
        }
    }

    &__content {
        flex: 1;
    }
}

.sidenavbar-container {
    width: 100%;

    .sidenavbar-logo {
        width: 239px;
    }

    &-nav {
        width: 100%;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        margin-top: 21px;

        &-link {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 8px 17px;
            border-radius: 4.77273px;
            height: 35px;
            background: $white;
            @include font-base($font-family-rubik, normal, 500);
            font-size: 19px;
            color: $black;
            margin-bottom: 5px;
            text-decoration: none;

            &.active {
                background: $blue-button-bg;
                color: $white
            }
        }
    }
}

.footer-container {
    background: $white;
    width: 100%;
    padding: 82px 41px;
    margin-top: 52px;

    @include respond-to(mobile) {
        padding: 82px 41px 52px;
    }

    .footer-top {
        border-bottom: 2px solid $blue-button-bg;
        display: flex;

        @include respond-to(mobile) {
            flex-direction: column;
        }

        &-left {
            flex: 4;
            padding-bottom: 82px;
            padding-left: 15%;

            @include respond-to(mobile) {
                padding-left: 0px;
                padding-bottom: 47px;
            }

            h2 {
                @include heading-h1($blue-button-bg, center);

                @include respond-to(mobile) {
                    font-size: 40px;
                }
            }
        }

        &-social {
            margin-top: 44px;

            @include respond-to(mobile) {
                margin-top: 24px;
            }

            @include respond-to(mobile) {
                padding-left: 65px;
                padding-right: 65px;
                display: flex;
                justify-content: space-between;
            }

            img {
                height: 53px;
                margin-right: 24px;

                @include respond-to(mobile) {
                    height: 30px;
                    margin-right: 0px;
                }
            }
        }

        &-right {
            flex: 3;
            margin-left: 30px;

            @include respond-to(mobile) {
                margin-left: 0px;
                padding-bottom: 62px;
            }

            h2 {
                @include heading-h2($blue-button-bg, left);
            }

            p {
                @include text-body($blue-button-bg, left, italic);
                max-width: 247px;

                @include respond-to(mobile) {
                    max-width: 100%;
                }
            }

            button {
                min-height: 35px;
                width: 100%;
                max-width: 300px;
                border: none;
                outline: none;
                border: 1px solid $blue-button-bg;
                border-radius: 4.77273px;
                @include text-subtitle($blue-button-bg, center, normal);
                background: $white;
            }
        }
    }

    .footer-bottom {
        padding-top: 16px;
        @include text-body($blue-button-bg, left);
    }
}