@import 'global';

.card {
  background-color: $blue-extra-light;
  color: $black;
  a {
    color: white;
    text-decoration: none;
  }

}

.card-title {
    font-family: "Barlow Condensed Bold";
    font-style: bold;
    font-weight: 500;
    margin-top: 0;
    color: #fff;
    font-size: 1.9rem;
    line-height: 133.1%;
    text-align: left;
}

.card-subtitle {
  font-family: "Source Sans Light";
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  color: #f28cbc;
  font-size: 1.125rem;
  letter-spacing: -0.01em;
  line-height: 149%;
  text-align: left;
}

.card-text {
    font-family: "Source Sans Light";
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    color: #b5b2d6;
    font-size: 1.125rem;
    letter-spacing: -0.01em;
    line-height: 149%;
    text-align: left;
}

.card-body{
  a {
    font-family: "Source Sans Light";
    color: white;
    text-decoration: none;
    text-align: left;
  }
  a:hover {
    color: #00adff;
  }
}


// Main Component
.main-container {
  overflow: hidden;
  .section-container {
    // padding-top: 3.625rem; // 58px
    // padding-bottom: 3.625rem; // 58px
    margin-bottom: 6.5rem; // 104px
    margin-top: 6.5rem; // 104px
    margin-right: 3.625rem; // 58px
    margin-left: 3.625rem; // 58px
    @include respond-to(mobile) {
      margin: 5.25rem 2.75rem 5.25rem 2.75rem;
    }
  }
  h1 span {
    color: $pink;
  }
  h2 span {
    color: $pink;
  }
  .caption-text-large {
    @include font-base($font-family-source, bold, 500);
    color: $gray-dark;
    font-size: 1.563rem; // 25x
    line-height: 149%;
    text-align: left;
    letter-spacing: -0.01em;
    @include respond-to(mobile) {
      font-size: 1.125rem; // 18px
    }
  }
  .caption-text-small {
    @include font-base($font-family-source, bold, 500);
    color: $gray-dark;
    font-size: 1.5rem; // 24x
    line-height: 133.1%;
    text-align: left;
    @include respond-to(mobile) {
      font-size: 1.125rem; // 18px
    }
  }
  .launch-button {
    @include text-button();
    background: $white;
    max-width: 19.625rem; // 314px
    height: 4.813rem; // 77px
    padding: 0.9375rem 1.125rem;
    background-color: $white;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10.5px;
    span {
      // background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
    @include respond-to(mobile) {
      font-size: 1.175rem; //
      height: 33px;
      padding: 9px 11px;
    }
    img {
      width: 1.8875rem; // 35px
      height: 1.9625rem; // 33px
      margin-left: 0.5625rem;
      @include respond-to(mobile) {
        width: 0.52625rem; // 25px
        height: 0.841875rem; // 25px
      }
    }
  }
  .launch-button:hover {
    background-color: $dark-white;
    color: #ff488e;
  }
  .main-top {
    padding-bottom: 96px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    @include respond-to(tablet) {
      flex-direction: column;
      padding-left: 50px;
      padding-right: 50px;
    }
    @include respond-to(desktop) {
      flex-direction: row;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .main-top__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .new {
      @include text-content();
    }
    .sommelier {
      font-size: 60px !important;
      font-family: $font-family-barlow-bold !important;
      @include respond-to(mobile) {
        font-size: 35px !important;
      }
    }
    .sub-title {
      max-width: 431px;
      @include respond-to(mobile) {
        font-size: 20px !important;
        line-height: 25px !important;
        max-width: 207px;
      }
    }
    .cellars {
      // background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      font-size: 60px !important;
      font-family: $font-family-barlow-bold !important;
      color: $white;
      margin-top: -25px;
      @include respond-to(mobile) {
        margin-top: -15px;
        font-size: 35px !important;
      }
    }
    .launch-button {
      @include text-button();
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      margin-top: 30px;
      width: 232px;
      height: 59px;
      @include respond-to(mobile) {
        margin-top: 1rem;
        width: 144px;
        height: 42px;
        border-radius: 11.1538px;
        font-size: 16px !important;
      }
    }
  }
  .main-top__right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
    min-height: 470px;

    @include respond-to(tablet) {
      margin-left: 0px;
      margin-top: 0px;
      width: 100%;
    }
    @include respond-to(desktop) {
      width: 60%;
      min-height: 470px;
      margin-top: 0px;
      margin-left: auto;
    }

    // .cellar-board-wrapper {
    //   overflow-x: auto;
    //   width: 650px;
    //   border: 1.08717px solid #2F3B58;
    //   border-radius: $mobile-border-radius;
    //   background: #0D182A;

    //   @include respond-to(tablet) {
    //     border-radius: $desktop-border-radius;
    //   }

    //   @include respond-to(desktop) {
    //     border-radius: $desktop-border-radius;
    //   }
    // }

    // .cellar-board-wrapper::-webkit-scrollbar {
    //   width: 100px;
    //   height: 40px;
    // }

    // .cellar-board-wrapper::-webkit-scrollbar-track,
    // .cellar-board-wrapper::-webkit-scrollbar-thumb {
    //   border: 16px solid transparent;
    //   background-clip: padding-box;
    // }     

    // .cellar-board-wrapper::-webkit-scrollbar-track {
    //   background-color: transparent;
    //   border-radius: 10px;
    //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // }
    
    // .cellar-board-wrapper::-webkit-scrollbar-thumb {
    //   background-color: #24335A;
    //   border-radius: 10px;
    //   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    // }

    .cellar-board {
      background: #0D182A;
      border-radius: $mobile-border-radius;
      display: flex;
      flex-direction: column;
      color: $white;
      // width: 640px;
      border: 1.03854px solid #2F3B58;

      @include respond-to(tablet) {
        border-radius: $desktop-border-radius;
      }

      @include respond-to(desktop) {
        border-radius: $desktop-border-radius;
      }

      .cellar-text-1 {
        @include font-base($font-family-lato, normal, 500);
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.0168em;
        @include respond-to(mobile) {
          font-size: 14px;
          line-height: 14px;
        }
      }

      .cellar-text-2 {
        @include font-base($font-family-lato, normal, 500);
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.0168em;
        color: #888585;
        @include respond-to(mobile) {
          font-size: 12px;
          line-height: 12px;
        }
      }

      .cellar-text-3 {
        @include font-base($font-family-lato, normal, normal);
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.0168em;
        color: #D4D4D4;
        @include respond-to(mobile) {
          font-size: 16px;
          line-height: 16px;
        }
      }

      .cellar-text-4 {
        @include font-base($font-family-lato, normal, bold);
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0.0168em;
        @include respond-to(mobile) {
          font-size: 36px;
          line-height: 36px;
        }
      }

      .cellar-text-5 {
        @include font-base($font-family-lato, normal, normal);
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.0168em;
        color: #D4D4D4;
        @include respond-to(mobile) {
          font-size: 16px;
          line-height: 16px;
        }
      }

      .cellar-text-6 {
        @include font-base($font-family-lato, normal, 700);
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.0168em;
        @include respond-to(mobile) {
          font-size: 16px;
          line-height: 16px;
        }
      }

      &-top {
        width: 100%;
        height: 110px;
        border-bottom: 1.03854px solid #2F3B58;
        display: flex;
        border-top-right-radius: 0px;

        @include respond-to(mobile) {
          flex-direction: column;
          height: 220px;
        }
      }

      &__bottom {
        width: 100%;
        height: 290px;
        display: flex;

        @include respond-to(mobile) {
          flex-direction: column;
          height: 580px;
        }
      }

      &-left {
        width: 310px;
        height: 100%;
        border-right: 1.03854px solid #2F3B58;
        border-top-right-radius: 0px;

        @include respond-to(mobile) {
          border-right: none;
        }

        .cellar-board-body {
          @include respond-to(mobile) {
            border-bottom: 1.03854px solid #2F3B58;
          }
        }
      }

      &-right {
        width: 330px;
        height: 100%;

        @include respond-to(mobile) {
          width: 310px;
        }

        .cellar-board-body {
          @include respond-to(mobile) {
            padding: 0px 40px;
          }
        }
      }

      &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        background: #162240;
        padding: 0px 40px;

        border-top-left-radius: $mobile-border-radius;
        border-top-right-radius: 0px;
        border-bottom: 1.03854px solid #2F3B58;
        @include respond-to(tablet) {
          border-top-left-radius: $desktop-border-radius;
          border-top-right-radius: $mobile-border-radius;
          border-bottom: none;
        }
        @include respond-to(desktop) {
          border-top-left-radius: $desktop-border-radius;
          border-bottom: none;
        }

        .cellar-text-2 {
          color: #fff;
        }

        .detail {
          display: flex;
          align-items: center;
          margin-top: 5.6px;
        }

        .coin {
          width: 33px;
          height: 33px;
          margin-right: 2px;
          // @include respond-to(mobile) {
          //   width: 12px;
          //   height: 12px;
          // }
        }
        .pair {
          @include font-base($font-family-lato, normal, 900);
          font-size: 24px;
          line-height: 31.04px;
          letter-spacing: 0.0168em;
          padding-left: 10.38px;
          @include respond-to(mobile) {
            font-size: 24px;
            line-height: 24px;
          }
        }
        .chevron {
          width: 8.89px;
          height: 5.33px;
          margin-left: 10px;
          // @include respond-to(mobile) {
          //   width: 3.45px;
          //   height: 2.16px;
          // }
        }
      }

      &-header2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0px 40px;

        .detail {
          display: flex;
          flex-direction: column;

          .cellar-text-6 {
            margin-top: 13px;
          }
        }
        .launch-button {
          width: 143px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include font-base($font-family-source, normal, bold);
          font-size: 13.6124px;
          line-height: 13px;
          color: #fff;
          background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
          border-radius: 5.71722px;
          // @include respond-to(mobile) {
          //   width: 54px;
          //   height: 12px;
          //   font-size: 5.09601px;
          //   line-height: 5px;
          //   border-radius: 2.14033px;
          // }
        }
      }

      &-body {
        padding: 26px 40px;
        min-height: 254px;
        display: flex;
        flex-direction: column;
        // @include respond-to(mobile) {
        //   padding: 6.52px 12.64px;
        //   height: 100px;
        // }

        .cellar-text-2 {
          padding-top: 8px;
        }

        .cellar-text-3 {
          padding-top: 32px;
        }

        .cellar-text-4 {
          padding-top: 13px;
        }
      }
    }
  }
  // Welcome to Sommelier
  .main-welcome-why {
    display: flex;
    flex-direction: column;
    @include respond-to(mobile) {
      flex-direction: column-reverse;
    }
  }
  .main-welcome {
    color: $white;
    padding-top: 55px;
    padding-bottom: 229px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    padding-left: 100px;
    padding-right: 100px;

    @include respond-to(tablet) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include respond-to(mobile) {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 78px;
    }

    img {
      width: 14.5rem;
    }
    h1 {
      margin-top: 49px;
      text-align: center;
    }
    h3 {
      margin-top: 30px;
      text-align: center;
      @include respond-to(mobile) {
        margin-top: 10px;
      }
    }
    .add-liquidity-button {
      @include text-button();
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 10.6327px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      color: $white;
      margin-top: 60px;
      width: 232px;
      height: 59px;

      @include respond-to(mobile) {
        width: 144px;
        height: 42px;
        border-radius: 11px;
        font-size: 16px !important;
        margin-top: 10px;
      }
    }
  }
  // Why Sommelier
  .main-why {
    background-color: $white;
    padding-top: 56px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include respond-to(tablet) {
      padding-top: 88px;
      padding-bottom: 77px;
    }

    @include respond-to(desktop) {
      padding-top: 115px;
      padding-bottom: 110px;
    }

    h2 {
      color: $text-black;
      margin-bottom: 43px;
      font-size: 35px !important;
      padding-left: 50px;
      padding-right: 50px;

      @include respond-to(tablet) {
        margin-bottom: 90px;
        font-size: 60px !important;
      }

      @include respond-to(desktop) {
        margin-bottom: 52px;
        font-size: 60px !important;
      }
    }

  }
  .main-why__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    
    // @include respond-to(tablet) {
    //   padding-left: 80px;
    //   padding-right: 80px;
    // }
    // @include respond-to(desktop) {
    //   padding-left: 80px;
    //   padding-right: 80px;
    // }

    &-wrapper {
      display: flex;
      margin-bottom: 22px;
      flex-flow: row wrap;
      justify-content: center;

      @include respond-to(mobile) {
        margin-bottom: 0px;
      }
    }

    &-item {
      padding: 32px 22px;
      width: 315px;
      height: 247px;
      box-sizing: border-box;
      border: 3px solid rgba(196, 196, 196, 0.2);
      border-radius: 8px;
      margin: 8px 4px;
      

      @include respond-to(tablet) {
        width: 315px;
        height: 353px;
      }
      @include respond-to(desktop) {
        width: 315px;
        height: 353px;
      }

      h4 {
        @include heading-h4($text-black, left);
        min-height: 60px;
        display: block;
        // margin-bottom: 20px;
        @include respond-to(tablet) {
          min-height: 100px;
        }
        @include respond-to(desktop) {
          min-height: 100px;
        }
      }
      p {
        @include text-content($text-black, left);
      }
    }
  }

  // Use Cases
  .main-usecases {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 68px;
    padding-bottom: 68px;

    @include respond-to(desktop) {
      padding-top: 168px;
      padding-bottom: 168px;
      padding-left: 100px;
      padding-right: 100px;
    }

    h2 {
      margin-bottom: 115px;
      text-align: center;
      font-size: 60px !important;

      @include respond-to(mobile) {
        margin-bottom: 30px;
        font-size: 35px !important;
      }
    }

    .main-usecases__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 223px;
        margin-left: 0px;
        margin-right: 0px;

        @include respond-to(tablet) {
          max-width: 333px;
          margin-left: 39px;
          margin-right: 39px
        }
        @include respond-to(desktop) {
          max-width: 444px;
          margin-left: 39px;
          margin-right: 39px
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: row;

        @include respond-to(mobile) {
          flex-direction: column;
        }
      }

      &-spacer {
        width: 310px;

        @include respond-to(tablet) {
          width: 150px;
        }

        @include respond-to(mobile) {
          display: none;
        }
      }

      &-item {
        flex: 1;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(mobile) {
          align-items: flex-start;
        }

        h4 {
          text-align: center;
          display: block;
          max-width: 334px;
          min-height: 78px;

          @include respond-to(tablet) {
            min-height: 56px;
          }

          @include respond-to(mobile) {
            margin-top: 43px;
            margin-left: auto;
            margin-right: auto;
            min-height: 34px;
          }
        }

        p {
          @include text-content();
          text-align: center;
          display: block;
          max-width: 358px;
          margin-left: auto;
          margin-right: auto;

          @include respond-to(mobile) {
            width: 100%;
          }
        }
      }
    }
  }

  // Divider
  .main-divider {
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1.16px;
    background: $divider;

    @include respond-to(mobile) {
      display: none;
    }
  }

  // Roadmap
  .main-roadmap {
    h2 {
      text-align: center;
      margin-bottom: 4.688rem; // 75px
    }

  }
  .main-roadmap__content {
    background-color: none;
    border-radius: 0;;
    display: flex;
    justify-content: center;
    @include respond-to(tablet) {
      background-color: $blue-extra-light;
      margin: 0 3rem 0 3rem;
      padding: 3.125rem 0 3.125rem 0;
      border-radius: 3.125rem; // 50px
    }
    @include respond-to(desktop) {
      background-color: $blue-extra-light;
      margin: 0 0 0 3rem;
      padding: 3.125rem 3rem 3.125rem 0;
      border-radius: 3.125rem 0 0 3.125rem; // 50px
    }
    ul {
      // list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // display: table;
      @include respond-to(mobile) {
        list-style: inside;
        li::before {
          content: "•";
          display: table-cell;
          text-align: right;
          padding-right: .3em;
        }
      }
      li {
        @include text-body();
        text-align: left;
        display: table-row;
        line-height: 29px;
        @include respond-to(mobile) {
          line-height: 25px;
        }
      }
    }
    .main-roadmap__content__stick {
      width: 35px;
      display: block;
      @include respond-to(mobile) {
        display: none;
      }
    }
    .main-roadmap__content__stick-mobile {
      width: 30px;
      display: none;
      @include respond-to(mobile) {
        display: block;
        margin-left: 2.5rem;
      }
    }
    .main-roadmap__content__q-left {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: flex-end;
      padding-right: 4.25rem;
      display: none;
      @include respond-to(desktop) {
        display: block;
      }
      @include respond-to(tablet) {
        padding-right: 2.9rem;
        display: block;
      }
      div {
        margin-top: 21.2rem;
        float: right;
      }
      h3 {
        text-align: right;
      }
      ul li {
        text-align: right !important;
      }
    }
    .main-roadmap__content__q-right {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      padding-left: 1.5rem;
      padding-right: 1rem;
      @include respond-to(desktop) {
        padding-left: 4.25rem;
      }
      @include respond-to(tablet) {
        padding-left: 2.9rem;
      }
      .main-roadmap__content__q-right__1 {
        margin-top: 7.6rem;
        @include respond-to(mobile) {
          margin-top: 1.7rem;
        }
      }
      .main-roadmap__content__q-right__2 {
        margin-top: 17.7rem;
        @include respond-to(mobile) {
          margin-top: 5rem;
        }
      }
      .main-roadmap__content__q-right__3 {
        display: none;
        @include respond-to(mobile) {
          display: block;
          margin-top: 3.3rem;
        }
      }
      h3 {
        text-align: left;
      }
    }
  }
  // About
  .main-about {
    display: flex;
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;
    }
    .main-about__left {
      flex: 1;
      margin-left: -3.625rem;
      .main-about__left__img-container {
        background-image: url('/images/img-about-mobile.png');
        width: 291px;
        height: 305px;
        @include respond-to(tablet) {
          background-image: url('/images/img-about-tablet.png');
          width: 423px;
          height: 757px;
        }
        @include respond-to(desktop) {
          background-image: url('/images/img-about1.png');
          width: 684px;
          height: 787px;
        }
      }
    }
    .main-about__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4.3rem;
      @include respond-to(tablet) {
        margin-top: 0;
        padding-left: 0;
      }
      @include respond-to(desktop) {
        margin-top: 0;
        padding-left: 6.25rem;
      }
      p {
        @include text-body();
        margin-top: 2.125rem; // 24px
        width: 26.813rem; // 429px
        @include respond-to(mobile) {
          width: 17.875rem; // 286px;
        }
      }
    }
  }
  // Team
  .main-team {
    max-width: 82.75rem;
    padding-top: 117px;
    margin: 0 auto;
    @include respond-to(mobile) {
      padding-top: 30px;
      margin-left: 0;
      margin-right: 0;
    }

    .main-team__content {
      padding: 116px 180px;
      @include respond-to(mobile) {
        padding: 27px 50px;
      }
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      &-member {
        width: 33%;

        padding: 0 15px;
        margin-bottom: 46px;

        @include respond-to(mobile) {
          margin-bottom: 20px;
          padding: 0 4px;
        }

        text-align: center;
        .img-avatar {
          max-width: 10.75rem;

          @include respond-to(mobile) {
            max-width: 83px;
          }
        }

        h4 {
          background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include respond-to(mobile) {
            font-size: 8px !important;
            line-height: 12px;
          }
        }
        .caption-container {
          div {
            justify-content: center;
            margin-top: 1.875rem;
            @include respond-to(mobile) {
              margin-top: 5px;
            }
            img {
              margin-left: 0.9rem;
              margin-right: 0.9rem;
              width: 36px;
              height: 36px; 
              @include respond-to(mobile) {
                margin-left: 4.5px;
                margin-right: 4.5px;
                width: 12px;
                height: 12px; 
              }
            }
          }
        }
      }
    }
  }
  .main-what {
    display: flex;
    padding-top: 32px;
    padding-bottom: 79px;
    align-items: center;
    justify-content: space-between;

    @include respond-to(desktop) {
      padding-top: 132px;
      padding-bottom: 132px;
    }

    &__left {
      width: 154px;
      margin-left: -77px;
      @include respond-to(desktop) {
        width: 444px;
        margin-left: -222px;
      }
    }
    

    &__right {
      width: 154px;
      margin-right: -77px;
      @include respond-to(desktop) {
        width: 444px;
        margin-right: -222px;
      }
    }

    &__middle {
      flex: 1;
      // max-width: 777px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 15px;
      padding-right: 15px;
      @include respond-to(tablet) {
        padding-left: 65px;
        padding-right: 65px;
      }
      @include respond-to(desktop) {
        padding-left: 125px;
        padding-right: 125px;
      }

      h1 {
        text-align: left;
      }
      p {
        @include sub-title($white, left);
        margin-top: 50px;
        margin-bottom: 0px;
        @include respond-to(mobile) {
          margin-top: 13px;
        }
      }

      .launch-button {
        @include text-button();
        margin-top: 39px;
        background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
        width: 232px;
        height: 59px;
        @include respond-to(mobile) {
          width: 104px;
          height: 26.45px;
          border-radius: 10.5px;
          margin-top: 13px;
        }
      }
    }
  }
  .main-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
    padding-left: 50px;
    padding-right: 50px;
    @include respond-to(desktop) {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 125px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 11px 26px;
      background: $panel-black;
      max-width: 100%;
      width: 100%;
      margin-bottom: 24px;
      border-radius: 7.3px;
      @include respond-to(tablet) {
        max-width: 100%;
        padding: 11px 26px;
        border-radius: 7.3px;
        flex-direction: row;
      }
      @include respond-to(desktop) {
        max-width: 988px;
        padding: 18px 70px;
        border-radius: 20px;
        flex-direction: row;
      }
    }
    &-title {
      @include heading-h4();
      text-align: left;
      font-size: 13px !important;
      flex: 1;
      max-width: 179px;
      @include respond-to(tablet) {
        max-width: 273px;
        font-size: 26px !important;
      }
      @include respond-to(desktop) {
        max-width: 273px;
        font-size: 26px !important;
      }
    }
    &-description {
      @include text-content($white, left);
      font-size: 12px !important;
      @include respond-to(tablet) {
        margin-left: 100px;
        width: 431px;
        font-size: 20px !important;
      }
      @include respond-to(desktop) {
        margin-left: 100px;
        width: 431px;
        font-size: 20px !important;
      }
      
    }
  }

  .main-cellar {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 73px; 
    margin-top: 200px;
    // @include respond-to(tablet) {
    //   flex-direction: row;
    // }
    @include respond-to(mobile) {
      margin-top: 73px;
    }

    @include respond-to(desktop) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 100px;
      padding-right: 100px
    }
  }

  .main-cellar__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    max-width: 407px;

    .new {
      @include text-content();
    }
    .sommelier {
      @include font-base($font-family-barlow-bold, normal, bold);
      font-size: 60px !important;

      @include respond-to(mobile) {
        font-size: 35px !important;
      }
    }
    .cellars {
      background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: -25px;
      @include respond-to(mobile) {
        margin-top: -15px;
      }
    }
    .sub-title {
      @include respond-to(mobile) {
        font-size: 20px !important;
      }
    }

    .launch-button {
      @include text-button();
      margin-top: 41px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      width: 232px;
      height: 59px;
      span {
        -webkit-text-fill-color: $white
      }
      @include respond-to(mobile) {
        margin-top: 1rem;
        width: 144px;
        height: 42px;
        border-radius: 11px;
        font-size: 16px !important;
      }
    }
  }
  .main-cellar__right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    @include respond-to(desktop) {
      margin-top: 0px;
      flex-direction: row;
    }
  }
}

.cellar-item {
  background: rgba(49, 30, 89, 0.25);
  border: 2px solid #3F2574;
  box-sizing: border-box;
  border-radius: $mobile-border-radius;
  width: 337px;
  min-height: 405px;

  margin-bottom: 15px;
  margin-left: 0px;

  // &.top {
  //   background: rgba(49, 30, 89, 1);
  // }

  @include respond-to(tablet) {
    width: 452px;
    border-radius: $desktop-border-radius;
    min-height: 514px;
  }

  @include respond-to(desktop) {
    border-radius: $desktop-border-radius;
    margin-bottom: 0px;
    margin-left: 20px;
    width: 452px;
    min-height: 514px;
  }

  &__header {
    background: rgba(63, 37, 116, 0.25);
    border-bottom: 2px solid #3F2574;
    box-sizing: border-box;
    border-radius: $mobile-border-radius $mobile-border-radius 0px 0px;
    min-height: 116px;
    padding: 19px 19px 6px;
    display: flex;
    flex-direction: column;
    // align-items: center;

    // &.top {
    //   background: rgba(63, 37, 116, 1);
    // }

    @include respond-to(tablet) {
      border-radius: $desktop-border-radius $desktop-border-radius 0px 0px;
      padding: 20px 26px;
      min-height: 168px;
    }
    @include respond-to(desktop) {
      border-radius: $desktop-border-radius $desktop-border-radius 0px 0px;
      padding: 20px 26px;
      min-height: 168px;
    }

    &__title {
      width: 100%;
      display: flex;
      align-items: center;

      &-title {
        display: flex;
        align-items: flex-start;
        flex: 1;

        img {
          width: 15px;
          margin-top: 14px;
          margin-left: 10px;
        }

        @include font-base($font-family-source, normal, 400);
        font-size: 29.6264px;
        line-height: 49px;
        text-align: center;
        letter-spacing: 0.496703px;
        color: $white;
        @include respond-to(tablet) {
          @include font-base($font-family-source, normal, 400);
          font-size: 39.7363px;
          line-height: 60px;
          margin-top: 13px;
        }
        @include respond-to(desktop) {
          @include font-base($font-family-source, normal, 400);
          font-size: 39.7363px;
          line-height: 66px;
          margin-top: 13px;
        }
      }

      &-icon {
        @include respond-to(tablet) {
          // margin-top: 33px;
        }
        @include respond-to(desktop) {
          // margin-top: 33px;
        }

        img {
          width: 39px;
          height: 39px;
          z-index: 400;
          &:first-child {
            margin-right: -8px;
            z-index: 500 !important;
          }
          @include respond-to(tablet) {
            width: 53px;
            height: 53px;
          }
          @include respond-to(desktop) {
            width: 53px;
            height: 53px;
          }
        }
      }
    }

    &__badge {
      display: flex;
      flex-flow: row wrap;
      margin-top: 10px;

      &-item {
        @include font-base($font-family-lato, normal, 400);
        font-size: 19.8681px;
        line-height: 26px;
        color: $white;
        margin-right: 14.51px;
        margin-bottom: 13px;
        border-radius: 6.62271px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to(mobile) {
          font-size: 14.8132px;
          line-height: 20px;
        }

        &.magenta {
          background: #752590;
        }

        &.purple {
          background: #4D2B91;
          border-radius: 4px;
        }

        &.blue {
          background: #1F3C8E;
          border-radius: 4px;
          width: 86.49px;
          height: 33.11px;
        }

        &.transparent {
          border: 1.65568px solid #E8006F;
          background: transparent;
          width: 134.49px;
          height: 33.11px;
        }
      }
    }
  }

  &__body {
    padding: 31px 26px;
    @include respond-to(tablet) {
      padding: 44px 26px;
    }
    @include respond-to(desktop) {
      padding: 44px 26px;
    }

    &-row {
      display: flex;
      width: 100%;
      @include font-base($font-family-lato, normal, 400);
      font-size: 19.8681px;
      line-height: 26px;
      margin-bottom: 26px;

      @include respond-to(mobile) {
        font-size: 14.8132px;
        line-height: 20px;
      }
    }

    &-key {
      flex: 1;
      color: #A3A3A3;
    }

    &-value {
      color: $white;

      &.green {
        color: #63A95A;
      }
    }

    &-divider {
      background: #3F2574;
      height: 1.6px;
      margin-top: 13px;
      margin-bottom: 44px;

      @include respond-to(mobile) {
        margin-bottom: 30px;
      }
    }

    .cellar-add-liquidity-button {
      display: flex;
      width: 100%;
      height: 66.49px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      border: 1px solid #77058C;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      @include font-base($font-family-lato, normal, 500);
      font-size: 26.4908px;
      line-height: 40px;
      color: $white;
      text-decoration: none;

      @include respond-to(mobile) {
        font-size: 19.7509px;
        line-height: 30px;
        height: 50px;
      }
    }
  }
  &__footer {
    text-align: center;
    .add-liquidity-button {
      @include font-base($font-family-lato, normal, bold);
      font-size: 8.6px;
      line-height: 12.95px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 84px;
      height: 25px;
      box-sizing: border-box;
      border-radius: 7px;
      color: $white;
      text-decoration: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      margin-top: 15px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      @include respond-to(tablet) {
        width: 203.79px;
        height: 49px;
        border-radius: 10.5px;
        @include font-base($font-family-lato, normal, bold);
        font-size: 20px;
        line-height: 18.6px;
        margin-bottom: 33px;
        margin-top: 33px;
      }
      @include respond-to(desktop) {
        width: 203.79px;
        height: 49px;
        border-radius: 10.5px;
        @include font-base($font-family-lato, normal, bold);
        font-size: 20px;
        line-height: 18.6px;
        margin-bottom: 33px;
        margin-top: 33px;
      }
    }
  }
}

.resource-container {
  h1 {
    @include font-base($font-family-barlow-bold, normal, 800);
    color: $white;
    text-align: left;
    font-size: 50px !important;
    line-height: 54px;
    border-bottom: 1px solid #2F2B4F;
    display: block;
    padding-bottom: 45px;

    @include respond-to(mobile) {
      font-size: 25px !important;
      line-height: 54px;
    }
  }
}

.resource-item {
  background: #0D182B;
  border: 0.943144px solid #2F3B58;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 46px 40px;
  margin-bottom: 81px;

  @include respond-to(mobile) {
    padding: 18px 16px;
    margin-bottom: 42px;
  }

  &__header {
    h2 {
      @include font-base($font-family-barlow-bold, normal, 800);
      color: $white;
      text-align: left;
      font-size: 40px !important;
      line-height: 54px;

      @include respond-to(mobile) {
        font-size: 15px !important;
        line-height: 20px;
      }
    }
  }
  &__divider {
    height: 1px;
    width: 554px;
    background: #2F2B4F;
    margin-top: 21px;
    @include respond-to(mobile) {
      width: 100%;
    }
  }
  &__body {
    display: flex;
    flex-direction: row;
    margin-top: 32px;

    @include respond-to(tablet) {
      flex-direction: column;
    }

    @include respond-to(mobile) {
      flex-direction: column;
    }

    .resource-image {
      width: 554px;
      height: 437.75px;
      object-fit: cover;
      @include respond-to(mobile) {
        width: 100%;
        height: auto;
      }
    }
    .resource-content {
      @include font-base($font-family-lato, normal, 500);
      font-size: 22px;
      line-height: 30px;
      color: $white;
      margin-left: 36px;
      &-intro {
        margin-bottom: 47px;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow-y: hidden;
        }
        @include respond-to(tablet) {
          margin-bottom: 18px;
        }

        @include respond-to(mobile) {
          margin-bottom: 18px;
        }
      }

      @include respond-to(tablet) {
        margin-top: 19px;
        margin-left: 0px;
      }

      @include respond-to(mobile) {
        margin-left: 0px;
        font-size: 11px;
        line-height: 15px;
        margin-top: 19px;
      }
    }
    .read-more-button {
      width: 169px;
      height: 54px;
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      border-radius: 10.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include text-button();
      img {
        margin-top: 10px;
        margin-left: 7px;
        width: 21px;
        height: 15px;
        @include respond-to(mobile) {
          width: 11.46px;
          height: 7.81px;
          margin-top: 3px;
        }
      }
      @include respond-to(mobile) {
        width: 88px;
        height: 28.12px;
        border-radius: 5.46746px;
      }
    }
  }
}

.event-item {
  background: #0D182B;
  border: 0.943144px solid #2F3B58;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 46px 40px;
  margin-bottom: 81px;

  display: flex;
  flex-direction: row;

  @include respond-to(mobile) {
    padding: 18px 16px;
    margin-bottom: 42px;
    flex-direction: column;
  }

  @include respond-to(mobile) {
    padding: 18px 16px;
    margin-bottom: 42px;
    flex-direction: column;
  }

  &__left {
    width: 50%;
    padding-right: 28px;
    @include respond-to(mobile) {
      width: 100%;
      padding-right: 0px;
    }
  }

  &__right {
    width: 50%;
    padding-left: 28px;
    @include respond-to(mobile) {
      width: 100%;
      padding-left: 0px;
    }
  }

  h2 {
    @include font-base($font-family-barlow-bold, normal, 800);
    color: $white;
    text-align: left;
    font-size: 40px !important;
    line-height: 54px;

    @include respond-to(mobile) {
      font-size: 15px !important;
      line-height: 20px;
    }
  }

  &__divider {
    height: 1px;
    width: 100%;
    background: #2F2B4F;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .event-detail {
    color: #DC23FF;
    font-size: 11.6801px;
    line-height: 19px;
    h6 {
      @include font-base($font-family-lato-bold, normal, 500);
    }
    span {
      @include font-base($font-family-lato, normal, 700);
    }
  }

  .event-image {
    width: 100%;
    margin-top: 35px;
    @include respond-to(mobile) {
      margin-top: 14px;
    }
  }

  .event-intro {
    @include font-base($font-family-lato, normal, 500);
    font-size: 22px;
    line-height: 30px;
    color: $white;
    margin-top: 65px;

    @include respond-to(mobile) {
      font-size: 11px;
      line-height: 15px;
      margin-top: 19px;
    }
  }

  .event-join-us {
    border: 0.943144px solid #2F3B58;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 36px;
    margin-top: 36px;
  }

  .event-action {
    display: flex;
    justify-content: center;

    @include respond-to(mobile) {
      margin-top: 31px;
    }

    &-register {
      background: linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
      border-radius: 10.5px;
      flex: 1;
      max-width: 200.07px;
      height: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-base($font-family-lato, normal, 700);
      font-size: 20px;
      line-height: 24px;
      color: $white;
      @include respond-to(mobile) {
        max-width: 103.96px;
        height: 28.06px;
        font-size: 10.3923px;
        line-height: 12px;
        border-radius: 5.45596px;
      }
    }

    &-join {
      margin-left: 22px;
      flex: 1;
      max-width: 252.31px;
      height: 54px;
      background: $white;
      border-radius: 10.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-to(mobile) {
        max-width: 133.1px;
        height: 28.49px;
        border-radius: 5.45596px;
      }
      span {
        @include font-base($font-family-lato, normal, 700);
        font-size: 20px;
        line-height: 24px;
        background: -webkit-linear-gradient(269.95deg, #E323FF 0.02%, #7517F8 97.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include respond-to(mobile) {
          font-size: 10.3923px;
          line-height: 12px;
        }
      }
      img {
        margin-left: 8px;
        height: 23px;
        @include respond-to(mobile) {
          height: 12.13px;
          margin-left: 4.5px;
        }
      }
    }
  }
}