/*
HEADING LEVELS
*/
/*
BASE VALUES MIXIN
NOTE: by default, type elements should not have top margins
*/

@mixin font-base($font-family, $font-style, $font-weight) {
  font-family: $font-family !important;
  font-style: $font-style !important;
  font-weight: $font-weight !important;
  margin-top: 0;
}

// NOTE: Use for all <h1> elements
// Uses the following Figma styles per breakpoint -
// Mobile: Header / H3;
// Tablet: Header / H2;
// Desktop: Header / H1;
@mixin heading-h1($color: $white, $textAlign: left) {
  @include font-base($font-family-barlow-bold, normal, 700);
  color: $color;
  font-size: 35px !important;
  line-height: 20px;
  text-align: $textAlign;
  letter-spacing: 0em;
  @include respond-to(tablet) {
    font-size: 80px !important;
  }
  @include respond-to(desktop) {
    font-size: 80px !important;
  }
}

// NOTE: Use for all <h2> elements
// Uses the following Figma styles per breakpoint -
// Mobile: Header / H3;
// Tablet: Header / H2;
// Desktop: Header / H1;
@mixin heading-h2($color: $white, $textAlign: center) {
  @include font-base($font-family-barlow-bold, normal, 700);
  color: $color;
  font-size: 25px !important;
  line-height: 54px;
  text-align: $textAlign;
  letter-spacing: 0em;
  @include respond-to(tablet) {
    font-size: 60px !important;
    line-height: 72px;
  }
  @include respond-to(desktop) {
    font-size: 60px !important;
    line-height: 72px;
  }
}

// NOTE: Use for all <h3> elements
// Uses the following Figma styles per breakpoint -
// Mobile: Header / H3;
// Tablet: Header / H2;
// Desktop: Header / H1;
@mixin heading-h3($color: $white, $textAlign: left) {
  @include font-base($font-family-barlow, normal, 600);
  color: $color;
  font-size: 20px !important;
  line-height: 30px;
  text-align: $textAlign;
  letter-spacing: 0em;
  @include respond-to(tablet) {
    font-size: 50px !important;
    line-height: 43px;
  }
  @include respond-to(desktop) {
    font-size: 50px !important;
    line-height: 43px;
  }
}

// NOTE: Use for all <h3> elements
// Uses the following Figma styles per breakpoint -
// Mobile: Header / H3;
// Tablet: Header / H2;
// Desktop: Header / H1;
@mixin heading-h4($color: $white, $textAlign: center) {
  @include font-base($font-family-lato, normal, 800);
  color: $color;
  font-size: 20px !important;
  line-height: 24px;
  text-align: $textAlign;
  letter-spacing: -0.01em;
  @include respond-to(tablet) {
    font-size: 26px !important;
    line-height: 39px;
  }
  @include respond-to(desktop) {
    font-size: 26px !important;
    line-height: 39px;
  }
}

@mixin heading-h5($color: $white, $textAlign: center) {
  @include font-base($font-family-barlow, normal, 600);
  color: $color;
  font-size: 40px !important;
  line-height: 43px;
  text-align: $textAlign;
  letter-spacing: -0.01em;
  @include respond-to(mobile) {
    font-size: 11px !important;
    line-height: 13.5px;
  }
}

@mixin sub-title($color: $white, $textAlign: left) {
  //@include font-base($font-family-lato, normal, 700);
  @include font-base($font-family-barlow, normal, 600);
  font-size: 25px !important;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: $textAlign;
  color: $color;
  @include respond-to(mobile) {
    font-size: 14px !important;
    line-height: 20.11px;
  }
}

@mixin text-button($color: $white, $textAlign: left) {
  @include font-base($font-family-lato, normal, 700);
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: $textAlign;
  color: $color;
  @include respond-to(mobile) {
    font-size: 10.89px !important;
    line-height: 14.67px;
  }
}

@mixin text-content($color: $white, $textAlign: center) {
  @include font-base($font-family-lato, normal, 500);
  font-size: 16px;
  line-height: 23.84px;
  letter-spacing: 0em;
  text-align: $textAlign;
  color: $color;
  @include respond-to(tablet) {
    font-size: 20px;
    line-height: 30px;
  }
  @include respond-to(desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

@mixin text-body($color: $gray-dark, $textAlign: left) {
  @include font-base($font-family-source-light, normal, 400);
  color: $color;
  font-size: 1.125rem; // 18px
  letter-spacing: -0.01em;
  line-height: 149%;
  text-align: $textAlign;
  @include respond-to(mobile) {
    font-size: 1rem; // 16px
  }
}
