/*
HEADING LEVELS
*/
/*
BASE VALUES MIXIN
NOTE: by default, type elements should not have top margins
*/

@mixin font-base($font-family, $font-style, $font-weight) {
  font-family: $font-family !important;
  font-style: $font-style !important;
  font-weight: $font-weight !important;
  margin-top: 0;
}

@mixin text-link($color, $textAlign, $textStyle: normal) {
  @include font-base($font-family-rubik, normal, $textStyle);
  color: $color;
  font-size: 22px;
  text-align: $textAlign;

  @include respond-to(mobile) {
    font-size: 20px;
  }
}

@mixin text-subtitle($color, $textAlign, $textStyle: bold) {
  @include font-base($font-family-rubik, normal, $textStyle);
  color: $color;
  font-size: 20px;
  text-align: $textAlign;

  @include respond-to(mobile) {
    font-size: 17px;
  }
}

@mixin text-body($color: $white, $textAlign: center, $textStyle: normal) {
  @include font-base($font-family-rubik, $textStyle, 500);
  color: $color;
  font-size: 15px;
  line-height: 25px;
  text-align: $textAlign;

  @include respond-to(mobile) {
    font-size: 12px;
  }
}

@mixin text-section-title($color: $white, $textAlign: center) {
  @include font-base($font-family-rubik, normal, bold);
  color: $color;
  font-size: 50px;
  text-align: $textAlign;
}

@mixin heading-extra($color: $white, $textAlign: left) {
  @include font-base($font-family-rubik, normal, bold);
  color: $color;
  font-size: 80px;
  text-align: $textAlign;
}

@mixin heading-h1($color: $white, $textAlign: left) {
  @include font-base($font-family-rubik-bold, normal, bold);
  color: $color;
  font-size: 50px;
  text-align: $textAlign;

  @include respond-to(mobile) {
    font-size: 27px;
  }
}

@mixin heading-h2($color: $white, $textAlign: center, $textWeight: bold) {
  @include font-base($font-family-barlow-bold, normal, $textWeight);
  color: $color;
  font-size: 30px;
  text-align: $textAlign;

  @include respond-to(mobile) {
    font-size: 20px;
  }
}

@mixin heading-h3($color: $white, $textAlign: left, $textStyle: italic) {
  @include font-base($font-family-barlow, $textStyle, 600);
  color: $color;
  font-size: 25px;
  text-align: $textAlign;

  @include respond-to(mobile) {
    font-size: 20px;
  }
}
/************************************************************************************/

// NOTE: Use for all <h3> elements
// Uses the following Figma styles per breakpoint -
// Mobile: Header / H3;
// Tablet: Header / H2;
// Desktop: Header / H1;
@mixin heading-h4($color: $white, $textAlign: center) {
  @include font-base($font-family-lato, normal, 800);
  color: $color;
  font-size: 20px !important;
  line-height: 24px;
  text-align: $textAlign;
  letter-spacing: -0.01em;
  @include respond-to(tablet) {
    font-size: 26px !important;
    line-height: 39px;
  }
  @include respond-to(desktop) {
    font-size: 26px !important;
    line-height: 39px;
  }
}

@mixin heading-h5($color: $white, $textAlign: center) {
  @include font-base($font-family-barlow, normal, 600);
  color: $color;
  font-size: 40px !important;
  line-height: 43px;
  text-align: $textAlign;
  letter-spacing: -0.01em;
  @include respond-to(mobile) {
    font-size: 11px !important;
    line-height: 13.5px;
  }
}

@mixin sub-title($color: $white, $textAlign: left) {
  //@include font-base($font-family-lato, normal, 700);
  @include font-base($font-family-barlow, normal, 600);
  font-size: 25px !important;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: $textAlign;
  color: $color;
  @include respond-to(mobile) {
    font-size: 14px !important;
    line-height: 20.11px;
  }
}

@mixin text-button($color: $white, $textAlign: left) {
  @include font-base($font-family-lato, normal, 700);
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: $textAlign;
  color: $color;
  @include respond-to(mobile) {
    font-size: 10.89px !important;
    line-height: 14.67px;
  }
}

@mixin text-content($color: $white, $textAlign: center) {
  @include font-base($font-family-lato, normal, 500);
  font-size: 16px;
  line-height: 23.84px;
  letter-spacing: 0em;
  text-align: $textAlign;
  color: $color;
  @include respond-to(tablet) {
    font-size: 20px;
    line-height: 30px;
  }
  @include respond-to(desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}